<head>
    <script type="text/javascript" charset="utf8"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
</head>

<!-- https://pythonprogramming.net/go/template-news-aggregator-go-language-programming-tutorial/?completed=/go/templating-webapp-go-language-programming-tutorial/ -->

<h1>Feed sample page</h1>
<div>
    {{range .}}
        <div class="item">
            <h3 class="name">{{.Title}}</h3>
            <p class="content">{{.Content}}</p>
            <p>{{.Type}}</p>
            <p>{{.Link}}</p>
        </div>
    {{end}}
</div>