<!DOCTYPE html>
<div class="container" id="sample-item-1">
  <div class="container" id="sample-item-1-header">

  </div>
  <div class="container" id="sample-item-1-box">

  </div>
  <div class="container" id="sample-item-1-title">
    <h1>Sample Text</h1>
    <h5>Posted at: 0:00 00/00/0000</h5>
  </div>
  <div class="container" id="sample-item-1-contents">
    <p>
      lorum ipsum dolar set. lorum ipsum dolar set. lorum ipsum dolar set.
      lorum ipsum dolar set. lorum ipsum dolar set. lorum ipsum dolar set.
      lorum ipsum dolar set. lorum ipsum dolar set. lorum ipsum dolar set.
    </p>
    <button type="submit" class="btn btn-pin"><i class="fas fa-thumbtack" style="font-size: 1.5em;"></i></button>
    <button type="submit" class="btn btn-comment"><i class="fas fa-comment" style="font-size: 1.5em;"></i></button>
  </div>
</div>
