* {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  background-image: none;
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  background-image: none;
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 img {
  background-image: none;
  height: 500px;
  width: 500px;
  margin: 0px;
  color: #FF2D36;
  position: absolute;
  left: 50%;
  top: 20%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  background-image: none;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF2D36;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: -70%;
  left: 0;
  right: 0;
}

.notfound .notfound-404 a {
  color: #fff !important;
}

.notfound a {
  background-image: none;
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff !important;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #FF2D36;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-image: none;
  color: #FF2D36;
  background: #211b19;
}
