/* HOME OF OUR UNIFIED CSS*/

a {
  text-decoration: none;
  color: #FF2D36 !important;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.container-fluid{
	padding: 0px;
	border: 0px;
}

.btn-signup {
  background-color: #fff !important;
  color: #FF2D36 !important;
  border-radius: 0 !important;
}

.btn-signup:hover {
  background-color: #FF2D36 !important;
  color: #fff !important;
}

.btn-login {
  background-color: #FF2D36 !important;
  border-color: #fff !important;
  border-width: medium !important;
  border-radius: 0 !important;
  color: #fff;
}

.btn-login:hover {
  border-width: 0 !important;
}

.btn-pin {
  width: 150px;
  color: #fff !important;
  background-color: #FF2D36 !important;
  border-radius: 0 !important;
  border-color: #fff !important;
  border-width: 5px !important;
  margin-right: 20px;
}

.btn-comment {
  width: 150px;
  color: #fff !important;
  background-color: #FF2D36 !important;
  border-radius: 0 !important;
  border-color: #fff !important;
  border-width: 5px !important;
}

#main {
	font-family: "Raleway";
	text-align: center;
	padding: 0px;
}

#topbar {
	padding: 30px;
	background: #FF2D36;
	color: #fff;
	border-bottom: 20px solid #fff;
}

#user-pills {
  align-items: center;
	justify-content: center;
}

#signup {
  height: 50px;
  width: 160px;
  font-size: 1.5em;
}

#login {
  height: 50px;
  width: 160px;
  font-size: 1.5em;
}

#paralax-text {
	font-family: "Raleway";
	display: flex;
	align-items: center;
	justify-content: center;
	height: 91vh;
	color: #fff;
	text-align: left;
}

#paralax-text h1{
  padding-top: 135px;
	font-size: 6.0em;
	font-weight: 400;
	line-height: 50px;
}

#paralax-text h1 span{
	font-weight: 900;
	font-style: italic;
	color: #FF2D36;
}

#body {
	min-height: 700px;
	padding: 50px;
	background: #fff;
}

#body h1 {
	font-size: 7.5em;
	font-weight: 900;
	color: #FF2D36;
}

#body-text {
	background: #fff;
	padding: 30px;
	color: #7f7f7f;
}

#body-text h2 {
	font-size: 4.0em;
	font-weight: 200;
}

#body-text p {
	padding-left: 30px;
	padding-right: 30px;
	font-size: 2.0em;
	color: #212121;
}

#Footer {
	text-align: center;
	height:35vh;
	background: #FF2D36;
	color: #fff;
}

#signinsheet {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../assets/desert_1.jpg");
  background-size: cover;
}

#signinsheet .container {
  align-items: center;
  justify-content: center;
}

#signinsheet .container .jumbotron {
  color: #fff;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0;
  border-left: 10px solid #fff;
}

#forms button:hover{
  background-color: #fff !important;
  color: #FF2D36 !important;
  border-width: medium !important;

}

/*~~~~~~~~~~~~ USERPAGE CSS STARTS HERE ~~~~~~~~~~~~*/

#header-container {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  height: 30vh;
  z-index: 0;
  border-bottom: 10px solid #fff;
}

#user-navbar{
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100% !important;
  color: #FF2D36;
}

#user-navbar a {
  position: relative;
  left: 33.33%;
  color: #FF2D36 !important;
  border: 3px solid #FF2D36;
  width: 175px;
  padding: 5px;
}

#user-navbar a:hover {
  color: #fff !important;
  border: 3px solid #FF2D36;
  background-color: #FF2D36;
}

#user-navbar a .nav-options:hover {
  color: #FF2D36 !important;
}

.nav-options {
  border: none !important;
  width: 40.5px !important;
  margin: 0px !important;
  padding: 0px !important;
}

.nav-options:hover {
  border: none !important;
  background-color: #fff !important;
  color: #FF2D36 !important;
}

.nav-options #user-navbar a:hover{
  border: none !important;
  background-color: #fff !important;
  color: #FF2D36 !important;
}

.nav-options i {
  font-size: 2.5em;
  padding: 0px !important;
  margin: 0px !important;
}

.nav-options i:hover {
  border: none !important;
  background-color: #fff !important;
  color: #FF2D36 !important;
}

#user-navbar-button {
  text-align: center;
  font-size: 1.3em;
  font-weight: lighter;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 8px;
  width: 150px !important;
}

#sidebar-container {
  background-color: #fff;
  border-right: 3px solid #FF2D36;
  width: 350px;
  height: 80vh;
  z-index: 1;
}

#profile-img {
  position: relative;
  top: -15vh;
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  height: 200px;
  width: 200px;
  border: 10px solid #fff;
}

#sidebar-contents {
  position: relative;
  top: -15vh;
  height: 100vh;
  width: 90%;
  color: #FF2D36;
  font-family: "Raleway";
}

#sidebar-contents h1 {
  font-size: 2.5em;
  font-weight: 900;
  padding-top: 20px;
}

#sidebar-contents h3 {
  font-size: 1.5em;
  font-style: italic;
  font-weight: lighter;
  padding-top: 10px;
  padding-bottom: 10px;
}

#sidebar-contents p {

}

#body-container {
 background-color: #fff;
 height: 1000px;
 align-items: center;
 padding: 0px;
}

#body-container .navbar-expand-xl {
  padding: 0px !important;
}

#placeholder {
  text-align: center;
  justify-content: center !important;
  align-items: center !important;
  color: #e0e0e0;
  font-weight: bolder;
  font-style: italic;
  width: 100%;
  height: 100%;
}

#placeholder h1 {
  position: relative;
  top: 25%;
}

#sample-item-1 {
  height: 400px;
  width: 100%;
  background-color: #fff;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#sample-item-1-header {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  width: 100%;
  height: 30%;
}

#sample-item-1-box {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  border: 10px solid #fff;
  height: 125px;
  width: 125px;
  position: relative;
  left: -40%;
  top: -10%;
  z-index: 1;
}

#sample-item-1-title {
  position: relative;
  top: -110px;
  background-color: #FF2D36;
  color: #fff;
  z-index: 0;
}

#sample-item-1-title h1 {
  position: relative;
  left: 180px;
  margin-bottom: 0px;
  padding-top: 10px;
  max-width: 40%;
}

#sample-item-1-title h5 {
  position: relative;
  right: -75%;
  top: -50px;
  margin-bottom: 0px;
  padding-top: 10px;
}

#sample-item-1-contents {
  position: relative;
  top: -110px;
  background-color: #FF2D36;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#sample-item-1-contents p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

#sample-item-2 {
  height: 900px;
  width: 100%;
  background-color: #FF2D36;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#sample-item-2-header {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  border-bottom: 20px solid #fff;
  width: 100%;
  height: 75%;
}

#sample-item-2-box {
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  border: 10px solid #fff;
  height: 125px;
  width: 125px;
  position: relative;
  left: -40%;
  top: -70%;
  z-index: 1;
}

#sample-item-2-title {
  position: relative;
  top: -110px;
  background-color: #FF2D36;
  color: #fff;
  z-index: 0;
}

#sample-item-2-title h1 {
  margin-bottom: 0px;
  padding-top: 10px;
  padding-left: 20px;
  max-width: 40%;
}

#sample-item-2-title h5 {
  position: relative;
  right: -75%;
  top: -50px;
  margin-bottom: 0px;
  padding-top: 10px;
}

#sample-item-2-contents {
  position: relative;
  top: -110px;
  background-color: #FF2D36;
  color: #fff;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#sample-item-2-contents p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 1.2em;
}

/*~~~~~~~~~~~~ PROJECTPAGE CSS STARTS HERE ~~~~~~~~~~~~*/

#taskbar {
  height: 13vh;
  border-bottom: 3px solid #FF2D36;
  padding-top: 0px;
  padding-bottom: 0px;
}

#project-logo {
  height: 80px;
  width: 80px;
  background-image: linear-gradient(127deg,#FFC24C,#FF9551,#F66B61,#D84975,#AA3884,#6D3489,#003281);
  border-left: 10px solid #FF2D36;
}

#project-name {
  font-size: 1.5em;
}

#project-toolbar {
  width: 100%;
}

#project-sidebar {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 100vh;
  background-color: #fff;
  border-right: 3px solid #FF2D36;
}

#project-body {
  background-image: linear-gradient(0deg,#e0e0e0,#a0a0a0);
  margin: 0px;
  padding: 20px;
  width: 100vw;
}
#kanban {
  font-family: "Raleway";

}

.project-nav-item {
  margin: 8px;
}

.project-taskbar-button {
  border: 3px solid #FF2D36;
  padding: 3px !important;
  width: 100px;
  text-align: center;
}

.kanban-bar {
  /*background-image: linear-gradient(0deg,#FF2D36,#E0E0E0,#E0E0E0,#E0E0E0,#FFFFFF);*/
  background-color: #fff;
  color: #fff;
  height: 85vh;
  border: 5px solid #FF2D36;
  padding: 0px !important;
}

.kanban-bar h1 {
  background-color: #FF2D36;
  font-weight: lighter;
  padding: 10px;
  padding-top: 0px !important;
  border-bottom: 10px solid #fff;
}

.task-area {
  overflow-y: scroll;
  height: 90% !important;
  border: 1px solid black;
  padding: 10px;
}

.button-project {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  width: 150px;
  height: 50px;
  border: 3px solid #FF2D36 !important;
  border-radius: 0px !important;
  margin-top: 20px;
  font-style: italic;
  font-weight: bold;
}

.button-project:hover {
  color: #fff !important;
  background-color: #FF2D36;
}

#todo {

}

#done {

}

#working {

}
